@font-face {
	font-family: 'Nexa-Bold';
	src: url('../fonts/Nexa Bold.eot');
	src: local('☺'), url('../fonts/Nexa Bold.woff') format('woff'), url('../fonts/Nexa Bold.ttf') format('truetype'), url('../../fonts/Nexa Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*, *:before, *:after{  
  box-sizing: border-box;  
  margin: 0;  
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/*
::-moz-selection { background: rgba(236, 0, 140, 0.5); }
::selection { background: rgba(236, 0, 140, 0.5); }

::-webkit-input-placeholder {   color: white;}
::-moz-placeholder {   color: white;}
:-ms-input-placeholder {   color: white;}
:-moz-placeholder {   color: white;}
*/

  -webkit-transition: all  0.3s; /* Safari | Chorme */
  -moz-transition: all  0.3s; /* FireFox */
  -ms-transition: all  0.3s; 
  -o-transition: all  0.3s; /* Opera */
  transition: all  0.3s;


.form-control:focus {
  border-color: #f19dcb;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,3,141,.2);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,3,141,.2);
}

body {background: #FFF; font-family: 'Open Sans', sans-serif; }
ul { list-style-type: none; }
a { text-decoration: none }
p { font-family: 'Nexa-Book';}
a:focus, a:active:focus, a.active:focus, input[type=file]:focus, input[type=radio]:focus, input[type=checkbox]:focus {
    outline-style: none;
    outline-width: 0px;
    outline-color: #ccc;
    outline-offset: 0;
    text-decoration: none;
}
a:hover{   text-decoration: none;}
textarea {    resize: none;}
.main-container {    padding-top: 0px;    padding-bottom: 0px;}
.relative { position: relative;}
.fixed { position: fixed;}
.no-paddings{ padding: 0px!important}
.textWhite{ color: white;}

div.halfRight, div.halfLeft {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  float: left;
}
div.halfLeft {
  padding-right: 17px;
}
div.halfRight{
	padding-left: 17px;
}

.logo{
  display: block;
  margin: 60px auto 40px auto;
}
h3{
  margin: 10px 0px 6px 0px;
  font-size: 16px;
}
h1,h2,h3,h4,h5{
  font-weight: 600;
}

section{
  padding: 40px 0px;
  background: #f8f8f8;
  min-height: calc(100vh - 137px);
  border-top: 1px solid #cfcfcf;
}

@keyframes reloco {
  from {
    filter: hue-rotate(0deg);
    -webkit-filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
    -webkit-filter: hue-rotate(360deg);
  }
}
@keyframes reciego {
  from {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  to {
    -webkit-filter: blur(5px);
    filter: blur(5px);
  }
}
@keyframes hiperloco {
  from {
    -webkit-filter: invert(0%);
    filter: invert(0%);
  }
  to {
    -webkit-filter: invert(800%);
    filter: invert(800%);
  }
}
@keyframes megaloco {
  from {
    -webkit-filter: saturate(0%);
    filter: saturate(0%);
  }
  to {
    -webkit-filter: saturate(800%);
    filter: saturate(800%);
  }
}
@keyframes girateuntoque {
  from {
    -ms-transform: rotate(0deg); 
    -webkit-transform: rotate(0deg); 
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg); 
    -webkit-transform: rotate(360deg); 
    transform: rotate(360deg);
  }
}
@keyframes eldefo {
  from {
    -ms-transform: scale(0.1, 3); 
    -webkit-transform: scale(0.1, 3); 
    transform: scale(0.1, 3);
  }
  to {
    -ms-transform: scale(3, 0.1); 
    -webkit-transform: scale(3, 0.1); 
    transform: scale(3, 0.1);
  }
}

@keyframes redefo {
  from {
    -ms-transform: skew(120deg, 10deg);
    -webkit-transform: skew(120deg, 10deg);
    transform: skew(120deg, 10deg);
  }
  to {
    -ms-transform: skew(20deg, 210deg);
    -webkit-transform: skew(20deg, 210deg);
    transform: skew(20deg, 210deg);
  }
}

.girateuntoque{
  animation-name: girateuntoque;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.eldefo{
  animation-name: eldefo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.redefo{
  animation-name: redefo;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.hiperloco{
  animation-name: hiperloco;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.megaloco{
  animation-name: hiperloco;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.reloco { 
  animation-name: reloco;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.reciego{
  animation-name: reciego;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.mr-4{
  margin-right: 10px;
  padding-top: 10px;
}

.list-group{
    max-height: 300px;
    margin-bottom: 10px;
    overflow:scroll;
    -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 992px) and (max-width:1200px){

}

@media screen and (min-width:768px) and (max-width: 992px){

}

@media screen and (min-width:767px){

}

@media screen and (max-width:767px){

}
